# --- Binários e Objetos (Compilação) ---
*.o
*.bin
*.elf
*.exe

# --- Python (Arquivos temporários) ---
__pycache__/
*.py[cod]

# --- VS Code (Configurações locais) ---
.vscode/

# --- Backup e Temporários ---
*.bak
*~
# --- Arquivos de rascunho ou testes pessoais ---
_*